body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    width: 1196px;
    margin-left: auto;
    margin-right: auto;
}

.header-inner {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    padding-left: 72px;
}

.nav-link {
    text-decoration: none;
    color: #373737;
    font-size: 17px;
    display: block;
    margin-bottom: 13px;
}

.header-hr {
    width: 23px;
    height: 3px;
    background: #717cff;
    border-radius: 2px;
    border: none;
}

.header-btn {
    border: 2px solid #717cff;
    border-radius: 11px;
    width: 111px;
    height: 42px;
    background-color: #fff;
}

.header-btn a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-heading {
    color: #2f2f2f;
    font-weight: 900;
    font-size: 70px;
    width: 632px;
    margin-bottom: 15px;
}

.hero-build {
    color: #717cff;
}

.hero-text {
    color: #7d7d7d;
    font-weight: 500;
    font-size: 22px;
    width: 632px;
    margin-bottom: 42px;
}

.hero-btn {
    width: 262px;
    height: 64px;
    background: #717cff;
    border-radius: 11px;
    display: block;
    border: none;
    margin-bottom: 70px;

}

.hero-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-right: 34px;
}

.hero-btn img {
    color: #37474f;
}

.hero-social {
    display: flex;
}

.social-list {
    margin: 20px;
    list-style-type: none;
}

.universities {
    background-color: #fafafa;
    margin-bottom: 122px;
}

.univer-heading {
    text-align: center;
    padding-top: 55px;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 86px;
}

.univer-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 104px;
}

.univer-dot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi-dots {
    width: 10px;
    height: 10px;
    background: #7c7c7c;
    opacity: 0.3;
    display: block;
    border-radius: 50%;
    margin: 0 9px;
    cursor: pointer;
    margin-bottom: 57px;
}

.active {
    width: 14px;
    height: 14px;
    opacity: 1;
    cursor: pointer;
    background: #717cff;
}

.servises {
    margin-bottom: 126px;
}

.servis-heading {
    text-align: center;
    margin-bottom: 25px;
    font-size: 37px;
    width: 208;
}

.servis-text {
    text-align: center;
    font-size: 22px;
    line-height: 38px;
    width: 949px;
    color: #7d7d7d;
    margin-left: 100px;
    margin-bottom: 110px;
}

.servis-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.list-card {
    background: #fff;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    width: 344px;
    height: 351px;
    margin-bottom: 50px;
}

.ikon {
    width: 76px;
    height: 76px;
    background: #717cff;
    border-radius: 38px;
    padding: 23px;
    margin-top: 29px;
    margin-left: 31px;
    margin-bottom: 30px;
}

.card-heading {
    font-size: 24px;
    width: 279px;
    line-height: 37px;
    margin-left: 31px;
    margin-bottom: 9px;
}

.card-text {
    font-size: 16px;
    line-height: 28px;
    color: #37474fb8;
    width: 296px;
    margin-left: 31px;
    margin-bottom: 30px;
}

.card-link {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    text-decoration: none;
    margin-left: 31px;
    color: #717cff;
}

.card-link img {
    margin-left: 20px;
}

.ikon-album {
    width: 76px;
    height: 76px;
    background: #ff5959;
    border-radius: 38px;
    padding: 23px;
    margin-top: 29px;
    margin-left: 31px;
    margin-bottom: 30px;   
}

.ikon-visa {
    width: 76px;
    height: 76px;
    background: #70ce88;
    border-radius: 38px;
    padding: 23px;
    margin-top: 29px;
    margin-left: 31px;
    margin-bottom: 30px;  
}

.ikon-home {
    width: 76px;
    height: 76px;
    background: #5c96ff;
    border-radius: 38px;
    padding: 23px;
    margin-top: 29px;
    margin-left: 31px;
    margin-bottom: 30px;  
}

.ikon-air {
    width: 76px;
    height: 76px;
    background: #fa706c;
    border-radius: 38px;
    padding: 23px;
    margin-top: 29px;
    margin-left: 31px;
    margin-bottom: 30px;  
}

.news {
    background: #fafafa;
    margin-bottom: 102px;
    padding-top: 104px;
    padding-bottom: 124px;
}

.news-heading {
    font-weight: bold;
    font-size: 36px !important;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    margin-bottom: 25px;
}

.news-text {
    text-align: center;
    font-size: 22px;
    line-height: 38px;
    color: #7d7d7d;
    margin-bottom: 119px;
}

.news-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 146px;
}

.news-card {
    width: 344px;
    height: 406px;
    background: #fff;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
}

.news-water {
    margin-bottom: 28px;
}

.news-date {
    margin-left: 26px;
    margin-bottom: 17px;
}

.list-heading {
    margin-left: 26px;
    font-size: 22px;
    line-height: 26px;
}

.news-obama {
    margin-bottom: 28px;
}



.news-btn {
    width: 226px;
    height: 64px;
    margin-left: 500px;
    background: #717CFF;
    border-radius: 11px;
    display: block;
    border: none;
}

.news-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.univer-events {
    padding-bottom: 104px;
}

.events-heading {
    text-align: center;
    font-size: 37px;
    line-height: 54px;
    margin-bottom: 25px;
}

.events-text {
    text-align: center;
    font-size: 22px;
    line-height: 38px;
    font-weight: 500;
    color: #7d7d7d;
    margin-bottom: 100px;
    /* width: 949px; */
}

.events-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 81px;
}

.events-card {
    background: #fff;
    width: 540px;
    height: 308px;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;

}

.date {
    padding-top: 29px;
    display: flex;
    justify-content: center;
}

.card-date {
    background-color: #717cff;
    width: 76px;
    height: 76px;
    margin-right: 19px;
    margin-bottom: 29px;
    border-radius: 11px;
}

.number {
    font-size: 27px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

.month {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
}

.card-title {
    font-size: 24px;
    line-height: 37px;
    color: #37474f;
    width: 352px;
}

.card-paragh {
    font-size: 16px;
    line-height: 28px;
    color: #37474fb8;
    width: 482px;
    margin-left: 45px;
    margin-bottom: 31px;
}

.card-site {
    display: flex;
    justify-content: space-between;
}

.card-sayt {
    text-decoration: none;
    font-size: 17px;
    margin-left: 45px;
    color: #717cff;
}

.card-img {
    margin-left: 20px;
}

.time {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.events-dot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-dots {
    width: 10px;
    height: 10px;
    background: #7c7c7c;
    opacity: 0.3;
    display: block;
    border-radius: 50%;
    margin: 0 9px;
    cursor: pointer;
    margin-bottom: 57px;
}

.active {
    width: 14px;
    height: 14px;
    opacity: 1;
    cursor: pointer;
    background: #717cff;
}

.countries {
    background-color: #fafafa;
}

.city {
    padding-top: 82px;
    margin-bottom: 115px;
}
.city-title {
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4px;
    margin-bottom: 25px;
    color: #373737;
}

.city-text {
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7d7d7d;
    margin-bottom: 77px;
}

.city-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.city-img {
    margin-bottom: 27px;
}

.city-heading {
    font-size: 25px;
    line-height: 29px;
    width: 201px;
    color: #37474f;
    margin-bottom: 11px;
}

.city-paragh {
    font-size: 16px;
    line-height: 27px;
    color: #37474fb8;
    width: 348px;
    margin-bottom: 83px;
}

.city-dot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.citys-dots {
    width: 10px;
    height: 10px;
    background: #7c7c7c;
    opacity: 0.3;
    display: block;
    border-radius: 50%;
    margin: 0 9px;
    cursor: pointer;
    margin-bottom: 57px;
}

.active {
    width: 14px;
    height: 14px;
    opacity: 1;
    cursor: pointer;
    background: #717cff;
}

.tim-title {
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    color: #373737;
    margin-bottom: 25px;
}

.tim-text {
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7d7d7d;
    margin-bottom: 181px;
}

.tim-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.tim-item {
    background: #fff;
    width: 503px;
    height: 332px;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 29px;
    margin-bottom: 130px;
}

.harrison {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 44px;
}

.harrison-img {
    margin-left: 34px;
}

.harrison-box {
    margin-left: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.harrison-heading {
    font-size: 22px;
    line-height: 26px;
    color: #37474f;
    width: 167px;
    margin-bottom: 4px;
}

.harrison-paragh {
    font-size: 18px;
    line-height: 21px;
    color: #37474f;
    opacity: 0.6;
    width: 71px;
}

.harrison-feedback {
    font-size: 18px;
    line-height: 31px;
    margin-left: 34px;
    width: 435px;
    color: #37474fb8;
}

.airana {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 44px;
}

.airana-img {
    margin-left: 34px;
}

.airana-box {
    margin-left: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.airana-heading {
    font-size: 22px;
    line-height: 26px;
    color: #37474f;
    width: 167px;
    margin-bottom: 4px;
}

.airana-paragh {
    font-size: 18px;
    line-height: 21px;
    color: #37474f;
    opacity: 0.6;
    width: 166px;
}

.airana-feedback {
    font-size: 18px;
    line-height: 31px;
    margin-left: 34px;
    width: 435px;
    color: #37474fb8;
}

.tim-dot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tims-dots {
    width: 10px;
    height: 10px;
    background: #7c7c7c;
    opacity: 0.3;
    display: block;
    border-radius: 50%;
    margin: 0 9px;
    cursor: pointer;
    margin-bottom: 57px;
}

.active {
    width: 14px;
    height: 14px;
    opacity: 1;
    cursor: pointer;
    background: #717cff;
}

.dreams {
    height: 220px;
    background-color: #fafafa;
}

.check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 92px;
}

.check-title {
    font-size: 37px;
    line-height: 43px;
    width: 489px;
    color: #252525;
}

.check-btn {
    width: 262px;
    height: 64px;
    background: #717cff;
    border-radius: 11px;
    display: block;
    border: none;

}

.check-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-right: 34px;
}

.check-btn img {
    color: #37474f;
}

.end {
    background-color: #717cff;
    height: 346px;
}

.futer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addres {
    padding-top: 64px;
}

.logo-link {
    display: block;
    margin-bottom: 26px;
}

.concord {
    font-size: 18px;
    line-height: 32px;
    width: 343px;
    color: #eee;
    margin-bottom: 58px;
}

.trade {
    font-size: 18px;
    line-height: 32px;
    width: 304px;
    color: #eee;
}

.navbar-list {
    margin-top: 70px;
    list-style: none;
    width: 161px;
}
.navbar-item a {
    font-size: 18px;
    line-height: 49px;
    color: #eee;
    text-decoration: none;
}

.end-list {
    margin: 20px;
    list-style-type: none;
}

.end-social {
    display: flex;    
}

.end-list {
    margin-top: 236px;
}

